baseURL="@baseURL@"
dxp.lxc.liferay.com.virtualInstanceId="@virtualInstanceId@"
name="@name@"
type="customElement"
typeSettings=[ \
  "friendlyURLMapping\=@friendlyURLMapping@", \
  "instanceable\=@instanceable@", \
  "urls\=@urls@", \
  "useESM\=@useESM@", \
  "htmlElementName\=@htmlElementName@", \
  "cssURLs\=@cssURLs@", \
  "portletCategoryName\=@portletCategoryName@" \
]
